<%= content_for :title do  %>
Clubs - Playgrounds
<% end %>


<div class="container text-center" style="padding-left:361px" >
 <h1 style="font-size: 96px">Test it out yourself!</h1>
<h1 style="font-size: 86px">FIND US ON </h1>
<h1 style="font-size: 96px"><strong>playgroundapp.club</strong></h1>
</div>









