<h1>My Messages</h1>

<h2>Conversations</h2>
<% @conversations.each do |conversation| %>
  <div>
    <%= link_to conversation.subject, conversation_path(conversation), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "New conversation", new_conversation_path, class: "btn btn-success"%>
