<div class="row">
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
          <div class="carousel-inner">
            <div class="item active">
              <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('shutterstock_50770603.jpg');">
                <div class="carousel-caption">
                  <h3>Tennis</h3>
                </div>
              </div>
            </div>
              <div class="item">
                <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('VOS_VACANCES_LES_DUNES_PADEL.jpg');">
                  <div class="carousel-caption">
                    <h3>Padel</h3>
                  </div>
                </div>
              </div>
            <div class="item">
          <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('SquashEquipment.jpg');">
          <div class="carousel-caption">
            <h3>Squash</h3>
          </div>
        </div>
      </div>
    </div>
    <a class="left top-screen carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left top-screen"></span></a>
    <a class="top-screen right carousel-control"href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
    </span></a>
  </div>
  <div class="main-text hidden-xs">
    <div class="col-md-12 text-center" style="padding-top: 120px">
    <h1>Playground</h1>
    <h3>Book Fast - Play Well</h3>
    <% if current_user %>
      <a class="btn btn-clear btn-sm btn-min-block" href="<%= clubs_path %>">Find a field</a>
      <a class="btn btn-clear btn-sm btn-min-block" href="<%= user_players_path(@user) %>">Find a partner</a>
    <% else %>
      <a class="btn btn-clear btn-sm btn-min-block" href="<%= new_user_session_path %>">Login</a>
      <a class="btn btn-clear btn-sm btn-min-block"href="<%=new_user_registration_path %>">Registration</a>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<div id="push">
</div>
