<div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                      <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.energetique-du-sport.com/wp-content/uploads/2015/06/shutterstock_50770603.jpg');">
                        <div class="carousel-caption">
                            <h3>Tennis</h3>
                        </div>
                        </div>
                    </div>
                    <div class="item">
                        <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.camping-lesdunes.fr/wp-content/uploads/sites/4/activity-picture/2017/02/VOS_VACANCES_LES_DUNES_PADEL.jpg');">
                        <div class="carousel-caption">
                            <h3>Padel</h3>
                        </div>
                        </div>
                    </div>
                    <div class="item">
                      <div style="height: calc(100vh - 70px); background-size: cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.myactivesg.com/~/media/Consumer/Images/Sports/Squash/SquashEquipment.jpg?la=en');">
                      <div class="carousel-caption">
                        <h3>Squash</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left top-screen carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left top-screen"></span></a><a class="top-screen right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center" style="padding-top: 120px">
                    <h1>Playground</h1>
                    <h3><%= link_to "Create your club profile", new_club_path, class: "btn btn-success" %></h3>
                </div>
            </div>
        </div>
    </div>
<div id="push">
</div>

<div class="banner second_banner">
    <p>Add your <strong>sport</strong> club and create  <strong>visibility</strong></p>
  </div>

  <div class="banner home_page_banner">
    <div class="" style="padding-bottom: 50px; padding-top: 30px">
      <h2>We offer three sport experiences</h2>
      <h5><em>"You can spend more time playing and less time organizing"</em></h5>
    </div>
    <div class="row home_row">
      <div class="col-xs-12 col-sm-4">
        <div class="card_home_page card_home_hover">
          <p>Play tennis</p>
          <img src="https://img.icons8.com/ios/50/000000/tennis.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card_home_page card_home_hover">
          <p>Play squash</p>
          <img src="https://img.icons8.com/ios/50/000000/squash-racquet.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card_home_page card_home_hover">
          <p>Play padel<p>
          <img src="https://img.icons8.com/ios/50/000000/tennis-filled.png">
        </div>
      </div>
    </div>

  </div>



<script>$('.carousel').carousel();</script>


