<%= content_for :title do  %>
Playground - home
<% end %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=
url_to_image 'tennis_court3.jpeg' %>');">
      <div class="banner-content">
        <h1>Playground</h1>
        <p>Book fast - Play well</p>
        <div class="homebutton">
          <p>Rent a field<p>
        </div>
      </div>
    </div>
<div id="calendar" data-target="<%= @events %>"></div>

