
<%= content_for :title do  %>
Playground - home
<% end %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=
url_to_image 'tennis_court3.jpeg' %>');">
      <div>
        <h1>Playground</h1>
        <p>Book fast - Play well</p>
          <p>Rent a field<p>
      </div>
    </div>
<div class="banner second_banner">
    <p>Book your <strong>sport</strong> field and play with the <strong>community</strong></p>
</div>
<div class="banner home_page_banner">
  <div class="row home_row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <p>Play Tennis</p>
        <img src="https://img.icons8.com/ios/50/000000/tennis.png">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <p>Play squash</p>
        <img src="https://img.icons8.com/ios/50/000000/squash-racquet.png">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <p>Play padel<p>
        <img src="https://img.icons8.com/ios/50/000000/tennis-filled.png">
    </div>
  </div>
</div>
