
.banner-club {
  position: fixed;
  background-image: url('ryan.jpg');
}
.club-form h1 {
  padding-left: 15px;
  padding-bottom: 25px;
  color: white;
}

.club-card {
  background-color: transparent !important;
  float: left !important;
  margin-bottom: 4px !important;
  text-align: left !important;
  width: 100% !important;
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  border-image: initial !important;
  border-radius: 0px !important;
  overflow: hidden !important;
}

#card-clubs-index {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  border-spacing: 0px !important;
}
#card-clubs-index:hover {
  box-shadow: 5px 10px #888888;
}

.card-photo-club {
  display: table-cell !important;
  vertical-align: middle !important;
}

.card-photo-club2 {
  width: 200px !important;
  height: 175px !important;
  min-height: 100% !important;
  overflow: auto !important;
  background: rgb(72, 72, 72) !important;
}

.card-photo-club3 {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.card-photo-background-club {

   position: absolute !important;
   background-size: cover !important;
   background-position: 50% 50% !important;
   background-repeat: no-repeat !important;
}

.card-content-club {
  position: relative;
  display: table-cell !important;
  width: 100% !important;
  vertical-align: middle !important;
  color: black;
}

.card-content-rating {
  position: absolute;
  top: 40px;
  left: 10px;
}

.card-content-address {
  position: absolute;
  bottom: 60px;
  left: 10px;
  color: grey !important
}

.card-content-city {
  position: absolute;
  bottom: 45px;
  left: 10px;
  color: grey !important
}
.card-content-price {
  position: absolute;
  color: grey !important;
  bottom: 5px;
  left: 10px;
}



