
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.second_banner {
  height: 50vh !important;
    p {
    text-shadow: 0px 2px rgba(0,0,0,0.15);
    color: black !important;
    text-decoration: none; }
  }

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
  width: 400px
}

.banner-content
{
box-shadow: 0 1px 2px rgba(0,0,0,0.07);
border: none;
border-radius: 4px;
color: white;
text-shadow: 0px 2px rgba(0,0,0,0.15);
height: 60px;
width: 200px;
text-decoration: none;
}

.homebutton
{
display: flex;
width: 550px;
}

.btn-danger
{
margin-right: 12px
}
.home_row
{
display: flex;
}
.home_page_banner
{
  display: block;
background-color: #007b5e !important;
height: 60vh !important;
}





