// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";

@import "home";

@import "map";


.container{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.simple_form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: left;
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.8);
  background-color: white;
}

// .btn
// {
// background-color: #134367;
// border-radius: 5%;
// color: white;
// box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.8);
// }
