// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";

@import "home";

@import "map";
@import "avatar";
@import "message";
@import "search_bar";
@import "review";
@import "card_club_index";


.container {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.main-container {
  background-image: url('ryan.jpg');
  background-size: 100%;
}

.clubs-container {
  margin-left: 50px;
  margin-right: 50px;
}


body {
  margin: 0;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
}
.text-center {
  text-align: center;
}
#container_message {
  max-width: 1000px;
  margin: 50px auto;
  padding: auto;
}

.simple_form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  text-align: left;
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.8);
  background-color: white;
}
.item
{
height: calc(100vh - 70px);
}


