.clubs-index {
  // margin-top: 75px;
  // margin-right: 20px;
  flex: 0 0 450px;
  width: 100%;
  height: 50vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 350px;
  border-radius: 10px;

}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  position: relative;
}

.affix {
      bottom: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix + .container-fluid {
      padding-top: 70px;
  }
