.message_conversations {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  background: rgba(91, 155, 155, 0.8);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
  color: white;
  /* Your turn to design a flexbox message_conversations */
}
.message_conversations h3 {
  font-size: 15px;
  margin: 10px;
}
.message_conversations h6 {
  font-size: 12px;
  margin: 0px;
}
.message_conversations p {
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  margin: 0px;
  color: white;
}

.message-name {
  align-items: center;
  padding-left: 25px;
  flex: 0 0 200px;
  margin: 0px;
}
.message-content {
  align-items: center;
  flex: 1 0 auto;
  padding-right: 5px;
  padding-left: 5px;
}

.message-status {
  align-items: center;
  padding-right: 0px;
  flex: 0 0 200px;
}
#b {
  border-top: none;
}
#c {
  border-top: none;
}
#pending {
  color: grey;
}
#accepted {
  color: green;
}
#declined {
  color: red;
}

.banner_conversations {
  color: white;
  text-align: center;
  min-height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
