.container-club-show{


}

.club-image {
  opacity: 0.4;
  position: relative;
}

.card-club-description {
  position: absolute;
  top: 170px;
  left: 100px;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  height: 300px;
  width: 600px;
  border-radius: 5px;

}

.card-club-description-v2 {
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  height: 300px;
  width: 600px;
  border-radius: 5px;

}

.review-v2 {
  width: 550px;
  opacity: 0.95;
}

.review-index-v2 {
  font-size: 20px;
}



.card-club-description p {
  font-size: 20px;
}

.review {
  width: 550px;
  position: absolute;
  top: 431px;
  right: 1px;
  opacity: 0.95;
}

.review-index {
  position:  absolute;
  top: 355px;
  right: 117px;
  font-size: 20px;
}

.message {
  position: absolute;
  top: 500px;
  left: 1px;
  background: white;
}
