
<div class="container">
<h1>FIELDS/SHOW</h1>

<p id="notice"><%= notice %></p>

<p><strong>About this field</strong></p>
  <ul>
  <li><%= @field.field_type %></li>
  <li><%= @field.availability %></li>
  <li><%= @field.price %></li>
  </ul>


</div>


